<div class="large-4 columns">
<div class="widgetnya">  
<h1 class="page-heading">Search</h1>
<div class="badanwidget" style="width:0">
<input type="text" placeholder="Type here to search..." id="countries"/>
</div>
</div>  
  
<div class="widgetnya">  
  <h1 class="page-heading">Tags</h1>
	  	
<div class="badanwidget">	  		
<ul class="tags" style="padding-bottom: 20px;">
	  {% for tag in site.tags %}
	  
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a id="route" href="/tags/#{{ tag | first | slugize }}">
      {{ tag | first }}
      <span>{{ tag | last | size }}</span>
    </a>
  </li>
{% endfor %}
</ul>
</div>
</div>  

<div class="widgetnya">  
<h1 class="page-heading">Categories</h1>
<div class="badanwidget">
  {% for category in site.categories %}
<li style="font-size: {{ category | last | size | times: 100 | divided_by: site.categories.size | plus: 70  }}%">
  {{ category | first }}
  <span>({{ category | last | size }})</span>
</li>

<ul class = "arc-list">
  {% for post in category.last %}
  <li>{{ post.date | date:"%Y-%m-%d "}}<a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
</div>
</div>


	  	
	  